<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>carLine</key>
		<string>现代</string>
		<key>carmodelList</key>
		<array>
			<dict>
				<key>attributeName</key>
				<string>测试项</string>
				<key>chargeAmount</key>
				<integer>1</integer>
				<key>id</key>
				<string>1</string>
				<key>imgDescript</key>
				<string>请提供车辆后备箱图片</string>
				<key>imgNeed</key>
				<true/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string>OutCode</string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string>本类型为测试项，不参与密码计算，请不要申请</string>
				<key>vin</key>
				<string></string>
			</dict>
			<dict>
				<key>attributeName</key>
				<string>17之前</string>
				<key>chargeAmount</key>
				<integer>5000</integer>
				<key>id</key>
				<string>19</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string>不包含17年（早8点到晚11点）</string>
				<key>vin</key>
				<string></string>
			</dict>
			<dict>
				<key>attributeName</key>
				<string>17年后</string>
				<key>chargeAmount</key>
				<integer>9000</integer>
				<key>id</key>
				<string>20</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string>包含17年（早8点到晚11点）</string>
				<key>vin</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>carLine</key>
		<string>起亚</string>
		<key>carmodelList</key>
		<array>
			<dict>
				<key>attributeName</key>
				<string>17年前</string>
				<key>chargeAmount</key>
				<integer>5000</integer>
				<key>id</key>
				<string>21</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string>不包含17年（早8点到晚11点）</string>
				<key>vin</key>
				<string></string>
			</dict>
			<dict>
				<key>attributeName</key>
				<string>17年后</string>
				<key>chargeAmount</key>
				<integer>6000</integer>
				<key>id</key>
				<string>22</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string>包含17年（早8点到晚11点）</string>
				<key>vin</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>carLine</key>
		<string>长城</string>
		<key>carmodelList</key>
		<array>
			<dict>
				<key>attributeName</key>
				<string>除H6机械，C50机械</string>
				<key>chargeAmount</key>
				<integer>6000</integer>
				<key>id</key>
				<string>24</string>
				<key>imgDescript</key>
				<string>行驶证或者名牌</string>
				<key>imgNeed</key>
				<true/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string>C30,M2,酷熊设备可以读，部分长城智能增加不要密码，查之前先尝试免密码（早8点到晚10点）</string>
				<key>vin</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>carLine</key>
		<string>长安</string>
		<key>carmodelList</key>
		<array>
			<dict>
				<key>attributeName</key>
				<string>全系</string>
				<key>chargeAmount</key>
				<integer>1500</integer>
				<key>id</key>
				<string>25</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string>部分CS35默认密码0000，请先尝试（早8点到11点）</string>
				<key>vin</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>carLine</key>
		<string>奇瑞</string>
		<key>carmodelList</key>
		<array>
			<dict>
				<key>attributeName</key>
				<string>自主防盗系统</string>
				<key>chargeAmount</key>
				<integer>1500</integer>
				<key>id</key>
				<string>26</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string></string>
				<key>vin</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>carLine</key>
		<string>众泰</string>
		<key>carmodelList</key>
		<array>
			<dict>
				<key>attributeName</key>
				<string>Z300</string>
				<key>chargeAmount</key>
				<integer>1500</integer>
				<key>id</key>
				<string>27</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string>如需8位密码，后面补0000</string>
				<key>vin</key>
				<string></string>
			</dict>
			<dict>
				<key>attributeName</key>
				<string>Z500/T600/大迈</string>
				<key>chargeAmount</key>
				<integer>1500</integer>
				<key>id</key>
				<string>28</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string></string>
				<key>vin</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>carLine</key>
		<string>北汽</string>
		<key>carmodelList</key>
		<array>
			<dict>
				<key>attributeName</key>
				<string>汽油车（不包含幻速）</string>
				<key>chargeAmount</key>
				<integer>1500</integer>
				<key>id</key>
				<string>29</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string>如果提示错误，可以换位尝试，例如AB CD EF 换位EF CD AB,
如果出来8位，需要6位，用密码前6位。</string>
				<key>vin</key>
				<string></string>
			</dict>
			<dict>
				<key>attributeName</key>
				<string>EU5</string>
				<key>chargeAmount</key>
				<integer>10000</integer>
				<key>id</key>
				<string>30</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string>早8:00-晚11:00</string>
				<key>vin</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>carLine</key>
		<string>宝骏</string>
		<key>carmodelList</key>
		<array>
			<dict>
				<key>attributeName</key>
				<string>全系智能</string>
				<key>chargeAmount</key>
				<integer>1500</integer>
				<key>id</key>
				<string>31</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string>智能匹配钥匙不需要密码</string>
				<key>vin</key>
				<string></string>
			</dict>
			<dict>
				<key>attributeName</key>
				<string>全系机械</string>
				<key>chargeAmount</key>
				<integer>1500</integer>
				<key>id</key>
				<string>32</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string>新款部分需要换位，例如，AB CD EF GH换位CD GH AB EF</string>
				<key>vin</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>carLine</key>
		<string>传奇</string>
		<key>carmodelList</key>
		<array>
			<dict>
				<key>attributeName</key>
				<string>全系</string>
				<key>chargeAmount</key>
				<integer>1500</integer>
				<key>id</key>
				<string>33</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string>8位密码</string>
				<key>vin</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>carLine</key>
		<string>海马</string>
		<key>carmodelList</key>
		<array>
			<dict>
				<key>attributeName</key>
				<string>车架号LM开头</string>
				<key>chargeAmount</key>
				<integer>1500</integer>
				<key>id</key>
				<string>34</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string></string>
				<key>vin</key>
				<string></string>
			</dict>
			<dict>
				<key>attributeName</key>
				<string>LH开头（5分钟左右出）</string>
				<key>chargeAmount</key>
				<integer>7000</integer>
				<key>id</key>
				<string>35</string>
				<key>imgDescript</key>
				<string>需要行驶证或者名牌</string>
				<key>imgNeed</key>
				<true/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string>不包含8C</string>
				<key>vin</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>carLine</key>
		<string>江淮</string>
		<key>carmodelList</key>
		<array>
			<dict>
				<key>attributeName</key>
				<string>全系</string>
				<key>chargeAmount</key>
				<integer>1500</integer>
				<key>id</key>
				<string>36</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string></string>
				<key>vin</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>carLine</key>
		<string>君马3</string>
		<key>carmodelList</key>
		<array>
			<dict>
				<key>attributeName</key>
				<string>君马3</string>
				<key>chargeAmount</key>
				<integer>8000</integer>
				<key>id</key>
				<string>37</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string></string>
				<key>vin</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>carLine</key>
		<string>陆丰</string>
		<key>carmodelList</key>
		<array>
			<dict>
				<key>attributeName</key>
				<string>全系</string>
				<key>chargeAmount</key>
				<integer>1500</integer>
				<key>id</key>
				<string>38</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string>单独4位密码</string>
				<key>vin</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>carLine</key>
		<string>名爵</string>
		<key>carmodelList</key>
		<array>
			<dict>
				<key>attributeName</key>
				<string>全系</string>
				<key>chargeAmount</key>
				<integer>1500</integer>
				<key>id</key>
				<string>39</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string></string>
				<key>vin</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>carLine</key>
		<string>荣威</string>
		<key>carmodelList</key>
		<array>
			<dict>
				<key>attributeName</key>
				<string>13年后</string>
				<key>chargeAmount</key>
				<integer>1500</integer>
				<key>id</key>
				<string>40</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string>13年存在交替，可能AABB或者需要查询</string>
				<key>vin</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>carLine</key>
		<string>日产</string>
		<key>carmodelList</key>
		<array>
			<dict>
				<key>attributeName</key>
				<string>劲客(5到10分钟出)</string>
				<key>chargeAmount</key>
				<integer>10000</integer>
				<key>id</key>
				<string>41</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string>设备读申请码</string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string>周一到周五，早8：00到晚6:00，此车型为滚动密码，读出申请码的界面，不要退出或者操作</string>
				<key>vin</key>
				<string></string>
			</dict>
			<dict>
				<key>attributeName</key>
				<string>劲客（5到10分钟出）</string>
				<key>chargeAmount</key>
				<integer>15000</integer>
				<key>id</key>
				<string>42</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string>设备读申请码</string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string>周六日，晚6:00后，此车型为滚动密码，读出申请码的界面，不要退出或者操作</string>
				<key>vin</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>carLine</key>
		<string>宝沃</string>
		<key>carmodelList</key>
		<array>
			<dict>
				<key>attributeName</key>
				<string>全系</string>
				<key>chargeAmount</key>
				<integer>10000</integer>
				<key>id</key>
				<string>43</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string>（早8:00-晚11:00）</string>
				<key>vin</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>carLine</key>
		<string>纳智捷</string>
		<key>carmodelList</key>
		<array>
			<dict>
				<key>attributeName</key>
				<string>全系（20分钟到30分钟左右）</string>
				<key>chargeAmount</key>
				<integer>8000</integer>
				<key>id</key>
				<string>44</string>
				<key>imgDescript</key>
				<string>行驶证放到挡风玻璃的车架号上拍图</string>
				<key>imgNeed</key>
				<true/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string>（早8点到晚6点，周末时间不定）</string>
				<key>vin</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>carLine</key>
		<string>吉利</string>
		<key>carmodelList</key>
		<array>
			<dict>
				<key>attributeName</key>
				<string>GS/GL/博瑞/博越/</string>
				<key>chargeAmount</key>
				<integer>6000</integer>
				<key>id</key>
				<string>45</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string>如果需要8位，取密码前8位。（早8：00-晚11：00）</string>
				<key>vin</key>
				<string></string>
			</dict>
			<dict>
				<key>attributeName</key>
				<string>S1</string>
				<key>chargeAmount</key>
				<integer>7000</integer>
				<key>id</key>
				<string>46</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string></string>
				<key>vin</key>
				<string></string>
			</dict>
			<dict>
				<key>attributeName</key>
				<string>18年全新帝豪</string>
				<key>chargeAmount</key>
				<integer>7000</integer>
				<key>id</key>
				<string>47</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string>不包含甲醇出租车</string>
				<key>vin</key>
				<string></string>
			</dict>
			<dict>
				<key>attributeName</key>
				<string>18帝豪（甲醇出租车）（10到20分钟左右出）</string>
				<key>chargeAmount</key>
				<integer>10000</integer>
				<key>id</key>
				<string>50</string>
				<key>imgDescript</key>
				<string>行驶证图片，车头图片，名牌图片</string>
				<key>imgNeed</key>
				<true/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string>此车型为两组密码</string>
				<key>vin</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>carLine</key>
		<string>大通</string>
		<key>carmodelList</key>
		<array>
			<dict>
				<key>attributeName</key>
				<string>全系</string>
				<key>chargeAmount</key>
				<integer>5000</integer>
				<key>id</key>
				<string>49</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string></string>
				<key>vin</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>carLine</key>
		<string>比速</string>
		<key>carmodelList</key>
		<array>
			<dict>
				<key>attributeName</key>
				<string>全系</string>
				<key>chargeAmount</key>
				<integer>10000</integer>
				<key>id</key>
				<string>51</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string>早9：00到晚5:30
30分钟左右出</string>
				<key>vin</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>carLine</key>
		<string>标志/雪铁龙</string>
		<key>carmodelList</key>
		<array>
			<dict>
				<key>attributeName</key>
				<string>全系（5分钟左右出）</string>
				<key>chargeAmount</key>
				<integer>4000</integer>
				<key>id</key>
				<string>52</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string>基本所有齿号密码一起出，特别老款没有齿号，齿号因为很多因素，可能打不开（早8点到晚10点）</string>
				<key>vin</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>carLine</key>
		<string>别克</string>
		<key>carmodelList</key>
		<array>
			<dict>
				<key>attributeName</key>
				<string>君威/君越/昂科拉/昂科威/GL8/老款LSGPB开头英朗/迈锐宝/威朗/科鲁兹（5到10分钟左右出）</string>
				<key>chargeAmount</key>
				<integer>4000</integer>
				<key>id</key>
				<string>53</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string></string>
				<key>vin</key>
				<string></string>
			</dict>
			<dict>
				<key>attributeName</key>
				<string>英朗70芯片/凯越70芯片//GL6/阅朗/（1到5分钟左右出）</string>
				<key>chargeAmount</key>
				<integer>3000</integer>
				<key>id</key>
				<string>54</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string>科沃兹，18年英朗，部分需要14位，先读取申请码，在查询</string>
				<key>vin</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>carLine</key>
		<string>汉腾</string>
		<key>carmodelList</key>
		<array>
			<dict>
				<key>attributeName</key>
				<string>全系（1到5分钟出）</string>
				<key>chargeAmount</key>
				<integer>1500</integer>
				<key>id</key>
				<string>55</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string></string>
				<key>vin</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>carLine</key>
		<string>东风风行</string>
		<key>carmodelList</key>
		<array>
			<dict>
				<key>attributeName</key>
				<string>智能钥匙，17年之前为老款车型，设备可以读（1到5分钟出）</string>
				<key>chargeAmount</key>
				<integer>1500</integer>
				<key>id</key>
				<string>56</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string></string>
				<key>vin</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>carLine</key>
		<string>保时捷</string>
		<key>carmodelList</key>
		<array>
			<dict>
				<key>attributeName</key>
				<string>机械直板钥匙（10-20分钟左右出）</string>
				<key>chargeAmount</key>
				<integer>10000</integer>
				<key>id</key>
				<string>57</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string>早8:00-晚10:00</string>
				<key>vin</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>carLine</key>
		<string>森雅</string>
		<key>carmodelList</key>
		<array>
			<dict>
				<key>attributeName</key>
				<string>奔腾X40/森雅R7（5分钟左右出）</string>
				<key>chargeAmount</key>
				<integer>1500</integer>
				<key>id</key>
				<string>58</string>
				<key>imgDescript</key>
				<string></string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string>此车型为滚动密码，读出代码界面不要退出</string>
				<key>vin</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>carLine</key>
		<string>雪佛兰</string>
		<key>carmodelList</key>
		<array>
			<dict>
				<key>attributeName</key>
				<string>科沃兹/13年后赛欧/新款乐风RV/柯兰多/克鲁泽
</string>
				<key>chargeAmount</key>
				<integer>3000</integer>
				<key>id</key>
				<string>59</string>
				<key>imgNeed</key>
				<false/>
				<key>parameterFour</key>
				<string></string>
				<key>parameterOne</key>
				<string></string>
				<key>parameterThree</key>
				<string></string>
				<key>parameterTwo</key>
				<string></string>
				<key>remark</key>
				<string>科沃兹，18年英朗，部分需要14位，先读取申请码，在查询</string>
				<key>vin</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>carLine</key>
		<string>长大</string>
	</dict>
</array>
</plist>
